html,body {
  overflow: hidden;
  position: relative;
}


body._home {
  min-height: 440px;
}

._home {
  main {
    transform: scale(2.5);
    min-height: 340px;
  }
  .overflow {
    background: red;
  }
}

#progress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
